h3{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 15px;
    border-bottom: 5px solid rgb(202, 38, 38);
}

.problem{
    background: sandybrown;
    font-size: 20px;
    font-weight: 20px;
    

}